*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(3,3,4);
background: linear-gradient(90deg, rgba(3,3,4,1) 11%, rgba(24,23,32,1) 51%, rgba(3,3,4,1) 91%);
}
.slides{
    width: vw;
    height: 20px;
    background-color: white; 
    /* margin-bottom: 6%; */
}
.content-body{
    width: 80vw;
    display: flex;
    flex-direction: column;

}
a{
    text-decoration: none;

}
.games{
    display: flex; 
    gap: 3%;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.content-body .heading h1, .content-body .games .btn a button h1{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 0 #a4a7ad;
}
.one-ball{
    position: absolute;
    top: 23.5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    z-index: -1;
    opacity: 0.5;
    animation: lefttoright 2.4s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}
.five-ball{
    position: absolute;
    top: 63%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:yellow;
    z-index: -1;
    opacity: 0.5;
    animation: lefttoright 2.4s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0.9s;
}
.seven-ball{
    position: absolute;
    top: 83%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    z-index: -1;
    opacity: 0.5;
    animation: lefttoright 2.4s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
    animation-direction: reverse;
}
.three-ball{
    position: absolute;
    top: 43.5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    z-index: -1;
    opacity: 0.5;
    animation: lefttoright 2.4s ease-out;
    animation-iteration-count: infinite;
    animation-delay: 0.7s;
    animation-direction: reverse;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: space-around;
    margin-left: 0;
}
button{
    display:block;
    width: 100%;
    padding: 4%;
    padding-left: 4%;
    padding-right: 4%;
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.btn{
    /* font-size: 10px; */
    
    /* padding: 1.5%;
    padding-left: 4%;
    padding-right: 4%; */
    width: 20%;
    border-width: 5px;
    border-color:white;
    border-style: double;

}
.btn:hover{
    background-color: rgb(128, 128, 128, 0.8);}
.btn:active{
    background-color: rgb(128, 128, 128, 0.2);
}
@keyframes rightswipe {
    from{width: 0%;}
    to{width: 100%;}
    
}
@keyframes leftswipe {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
@keyframes lefttoright {
    from{
        left: 0;
    }
    to{
        left: 97%;
    }
    
}
.loader {
    position: relative;
    height: 40px;
    width: 10px;
    height: 50px;
    top: 320px;
    left: 49%;
    color: #FFF;
    animation: paddles 0.75s ease-out infinite;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    width: 12px;
    height: 12px;
    background-color: greenyellow;
    border-radius: 50%;
    animation: ballbounce 0.6s ease-out infinite;
  }
  
  @keyframes paddles {
    0% {
      box-shadow: -25px -10px, 25px 10px
    }
  
    50% {
      box-shadow: -25px 8px, 25px -10px
    }
  
    100% {
      box-shadow: -25px -10px, 25px 10px
    }
  }
  
  @keyframes ballbounce {
    0% {
      transform: translateX(-20px) scale(1, 1.2)
    }
  
    25% {
      transform: scale(1.2, 1)
    }
  
    50% {
      transform: translateX(15px) scale(1, 1.2)
    }
  
    75% {
      transform: scale(1.2, 1)
    }
  
    100% {
      transform: translateX(-20px)
    }
  }
        